/* Mis cambios*/
body,html
{
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

#container
{

    width: 100%;
    height: 100%;
    overflow: auto;
    /*background: blue;*/
}

#container canvas {
    z-index: 2;
    vertical-align: top;
    display: block;
    overflow: auto;
    position: absolute;
}

#fix {
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    color: black;
    /*height: 20px;*/
    tex-align: center;
    max-width:100%;
    height:100%;

}

#container {
    background: url('../img/nieve2.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:   cover;

}

#warning-message { display: none; }
@media only screen and (orientation:portrait){
    #container { display:none; }
    #warning-message { display:block;color: black }
}
@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}
